@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container">
    <h1>Bem vindo ao seu CRUD de produtos</h1>
    <h3>Vamos começar?</h3>

    <h5 class="card-title">Comece criando as categorias</h5>
    <p>Elas vão te permitir separar melhor seus produtos.</p>
    <br />
    <button class="btn btn-primary" onclick="window.location.href='Categorias'">Categorias</button>
    <button class="btn btn-primary" onclick="window.location.href='Produtos'">Produtos</button>
</div>